node_modules
yarn-error.log

/kirby
/vendor
/site/plugins/*

/site/cache
!/site/cache/index.html

/site/sessions
!/site/sessions/index.html

/site/accounts
!/site/accounts/index.html

/site/config/*
!/site/config/config.php

/media/*
!/media/index.html
