.Nav {
	.Nav-list {
		list-style: none;
		margin: 0;
		padding: 0;
	}
}

.Nav-open,
.Nav-close {
	display: inline-block;
	width: 34px;
	height: 34px;
	border-radius: 20px;
	text-indent: -999em;
	overflow: hidden;
	position: absolute;
	top: $space - 0.2;
	right: $space;
	background-image: url(/assets/images/nav-icon.svg);
	background-position: center;
	background-repeat: no-repeat;
	touch-action: none;

	@include bp(md) {
		display: none;
	}
}

.Nav-open {
	background-color: transparent;
	border: 1px solid;
	color: $color-white;
	z-index: 0;
	transition-property: background, transform, border-color;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(.7, 0, .2, 1);

	&.is-dynamic {
		z-index: 11;
	}

	&.is-active {
		transform: rotate(-45deg);
		border-color: transparent;
	}
}

.Nav-close {
	position: absolute;
	background-color: transparent;
	border-color: transparent;
	color: $color-white;
	transform: rotate(45deg);
	display: none;
}

.Nav--primary {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: $color-black;
	background-image: linear-gradient(to bottom, #FF7700, #DB056B);
	z-index: 10;
	overflow: hidden;
	transform-origin: bottom left;
	transform: translateY(-100%) skewY(-20deg);
	transition: all .5s cubic-bezier(.7, 0, .2, 1);
	transition-delay: .2s;

	.Nav-list {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: $space;

		a {
			display: block;
			color: inherit;
			margin: auto;
			padding: $space-sm 0;
			font-size: 1.5em;
			transform: translateY(-100%);
			opacity: 0;
			transition: all .3s cubic-bezier(.7, 0, .2, 1);

			&:hover,
			&:focus {
				color: $color-white;
			}

			@include bp(md) {
				opacity: 1;
				transform: none;
			}
		}

		.Nav-item:nth-child(2) a {
			transition-duration: .4s;
		}

		.Nav-item:nth-child(3) a {
			transition-duration: .5s;
		}

		.Nav-item:nth-child(4) a {
			transition-duration: .6s;
		}
	}

	&.is-active,
	&:target {
		transform: translateY(0);
		transition-delay: 0s;

		.Nav-close {
			display: block;
		}

		.Nav-list {
			a {
				transition: all .8s cubic-bezier(.7, 0, .2, 1);
				transform: translateY(0);
				opacity: 1;
			}
		}

		.Nav-item:nth-child(2) a {
			transition-duration: .9s;
		}

		.Nav-item:nth-child(3) a {
			transition-duration: 1s;
		}

		.Nav-item:nth-child(4) a {
			transition-duration: 1.1s;
		}
	}

	@include bp(md) {
		position: static;
		transition: none;
		transform: none;
		background-color: transparent;
		background-image: none;

		.Nav-list {
			display: block;
			margin-left: auto;
			text-align: right;
			padding: 0;

			.Nav-item {
				display: inline-block;
				transition: none;
			}

			a {
				font-size: 1em;
				font-weight: normal;
				padding: 0;
				padding-left: $space;
				position: relative;

				&:focus,
				&.is-active {
					&:after {
						content: '';
						display: block;
						border-bottom: 2px solid;
					}
				}
			}
		}
	}
}

.Nav--footer {
	.Nav-item {
		margin-bottom: $space-sm;

		@include bp(md) {
			display: inline-block;
			margin-bottom: 0;
			margin-right: $space-sm;
		}
	}
}
