.Page {
	background-color: $color-black;
	color: $color-white;

	.Page-logo {
		display: inline-block;
		z-index: 11;
		width: 100px;

		img {
			display: block;
		}
	}
}

.Page--breadcrumbs {
	display: block;
	margin: $space-sm 0;
	text-align: center;

	a {
		color: $color-white;
		opacity: .6;
	}
}

.Page--home {
	h1 {
		font-weight: 300;

		b {
			display: block;
		}
	}

	.Section--mast {
		height: 100vh;
		max-height: 35rem;

		.Page-title {
			height: 100%;
			max-height: none;
		}
	}

	.Nav--primary {
		a.is-active {
			color: $color-white;
		}
	}
}

.Page--work,
.Page--projects,
.Page--resources {
	.Section--primary .Section-inner {
		background-color: transparent;
		padding: 0;
		box-shadow: none;
	}
}
