@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

// Base settings
$base-font-size: 1rem;

// Font families
$font-primary: 'Raleway', Futura, sans-serif;
$font-secondary: sans-serif;

// Breakpoints
$widths: (
	sm: 20rem,
	md: 40rem,
	lg: 60rem,
	xl: 90rem
);

// Spacing
$space: $base-font-size * 1.5;
$space-xs: $space / 4;
$space-sm: $space / 2;
$space-md: $space * 1.5;
$space-lg: $space * 2;
$space-xl: $space * 4;
$space-xxl: $space * 6;

// Grid
$grid-columns: 8;
$grid-font-size: 1rem;
$grid-space: 1rem;

// neutral
$color-neutral-lighter: hsl(210, 17%, 35%);
$color-neutral-light: hsl(210, 16%, 24%);
$color-neutral: hsl(210, 15%, 18%);
$color-neutral-dark: hsl(210, 17%, 10%);
$color-neutral-darker: hsl(210, 18%, 8%);

// primary
$color-primary-lighter: #58baaa;
$color-primary-light: hsl(170, 58%, 42%);
$color-primary: rgb(0, 153, 127);
$color-primary-dark: hsl(170, 100%, 25%);
$color-primary-darker: hsl(170, 100%, 20%);

// Contrast colors
$color-white: #ecf2f2;
$color-black: #0c0d0e;

// Message colors
$color-message-info: #00a8f7;
$color-message-success: #47b04a;
$color-message-warning: #f5a800;
$color-message-error: #f6412d;

// Transitions
$transition-1: cubic-bezier(0.2, 0.01, 0.01, 0.99);
