.Items {
	display: grid;
	grid-gap: $space;

	@include bp(md) {
		grid-template-columns: repeat(2, 1fr);
	}

	@include bp(lg) {
		grid-template-columns: repeat(3, 1fr);
	}

	.Item {
		display: flex;

		.Item-link {
			@extend %h4;
			flex: 1;
			display: block;
			padding: $space-lg $space-sm;
			text-align: center;
			background-color: $color-neutral-dark;
			color: $color-white;
			font-weight: bold;
			text-decoration: none;
			transition: background-color 0.2s, color 0.2s;

			&:hover,
			&:focus {
				background-color: $color-neutral-light;
			}
		}
	}
}

.Items--work {
	.Item {
		.Item-link {
			font-size: 1rem;
			display: flex;
			flex-direction: column;
			padding: 0;
			background-color: transparent;
			color: $color-neutral-darker;

			img {
				box-shadow: 0 15px 30px rgba($color-neutral-darker, 0.2);
			}

			h2 {
				@extend %h4;
				color: inherit;
				text-align: left;
				margin: $space 0;
			}

			&:hover,
			&:focus {
				background-color: transparent;
				color: $color-primary;
			}
		}
	}
}
