.Nav {
	.Nav-list {
		list-style: none;
		margin: 0;
		padding: 0;

		a {
			text-decoration: none;
		}
	}
}

.Nav-open,
.Nav-close {
	display: inline-block;
	position: absolute;
	top: $space;
	right: $space;
	touch-action: none;
	text-decoration: none;
	font-weight: bold;
	font-size: 0.96em;
	text-transform: lowercase;
	padding: 0.14rem 0.6rem;

	@include bp(md) {
		@include hidden();
	}
}

.Nav-open {
	z-index: 0;
	color: $color-white;
}

.Nav-close {
	position: absolute;
	top: $space;
	right: $space;
	color: $color-white;
	opacity: 0;
	transition: opacity 0.2s;
	transition-delay: 0.2s;
}

.Nav--primary {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: $color-primary;
	z-index: 10;
	overflow: hidden;
	transform-origin: bottom left;
	left: -100%;
	transform: translateX(0) skewX(-20deg);
	transform-origin: top right;
	transition: transform 0.5s cubic-bezier(0.7, 0, 0.2, 1);
	transition-delay: 0.2s;

	.Nav-list {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: $space;

		a {
			display: block;
			color: inherit;
			margin: auto;
			padding: 0;
			margin: 0.5em 0;
			font-size: 1.5em;
			font-weight: bold;
			transform: translateX(-50%);
			opacity: 0;
			transition: all 0.3s cubic-bezier(0.7, 0, 0.2, 1);
			position: relative;

			&.is-active:after {
				content: '';
				display: inline-block;
				position: absolute;
				border-left: 4px solid $color-primary;
				height: 100%;
				left: -$space;
			}

			@include bp(md) {
				opacity: 1;
				transform: none;
			}
		}

		.Nav-item:nth-child(2) a {
			transition-duration: 0.4s;
		}

		.Nav-item:nth-child(3) a {
			transition-duration: 0.5s;
		}

		.Nav-item:nth-child(4) a {
			transition-duration: 0.6s;
		}
	}

	&.is-active,
	&:target {
		transform: translateX(100%) skewX(0);
		transition-delay: 0s;

		.Nav-close {
			opacity: 1;
			transition-delay: 0.4s;
		}

		.Nav-list {
			a {
				transition: all 0.8s cubic-bezier(0.7, 0, 0.2, 1);
				transform: translateX(0);
				opacity: 1;
			}
		}

		.Nav-item:nth-child(2) a {
			transition-duration: 0.9s;
		}

		.Nav-item:nth-child(3) a {
			transition-duration: 1s;
		}

		.Nav-item:nth-child(4) a {
			transition-duration: 1.1s;
		}
	}

	@include bp(md) {
		position: static;
		transition: none;
		transform: none !important;
		background-color: transparent;
		background-image: none;
		width: auto;
		flex: 1;

		.Nav-list {
			display: block;
			margin-left: auto;
			text-align: right;
			padding: 0;

			.Nav-item {
				display: inline-block;
				transition: none;
			}

			a {
				font-size: 1.2em;
				font-weight: 400;
				padding: 0;
				padding-left: $space;
				position: relative;
				opacity: 0.8;

				&:hover,
				&:focus,
				&.is-active {
					opacity: 1;

					&:after {
						display: block;
						position: relative;
						left: auto;
						bottom: -0.3rem;
						border-bottom: 3px solid $color-primary;
					}
				}
			}
		}
	}
}

.Nav--footer {
	&:after {
		display: block;
		content: '';
		width: 4rem;
		border-top: 1px solid $color-neutral-lighter;
		margin: $space-lg auto;
	}

	.Nav-item {
		margin-bottom: $space-sm;

		&:first-child:before {
			content: none;
		}

		&.is-active a {
			color: $color-white;
		}
	}

	@include bp(md) {
		&:after {
			content: none;
		}

		.Nav-item {
			display: inline-block;
			margin-bottom: 0;
			margin-right: $space-sm;

			&:before {
				content: '|';
				opacity: 0.5;
				margin-right: $space-sm;
			}
		}
	}
}

.Nav--breadcrumbs {
	margin-bottom: $space-sm;

	.Nav-item {
		display: inline-block;

		a {
			color: inherit;

			&:hover,
			&:focus {
				text-decoration: underline;
			}
		}

		&:after {
			content: '/';
			margin: 0 $space-xs;
		}
	}
}
