.Page {
	height: 100vh;
}

.Page-logo {
	display: inline-block;
	position: relative;
	z-index: 11;
}

.Page-mast {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	margin-bottom: $space;
	margin-bottom: 20vh;
}

.Page-hero {
	margin: 0 auto $space-xl;
	text-align: center;

	img {
		@include shadow-lg();
	}
}

.Page-content {
	margin: $space 0 0;
	max-width: map-get($widths, lg);

	&:empty {
		display: none;
		margin: 0;
	}
}

/*
	
	Homepage animations

*/

@keyframes logoFadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes logo {
	from {
		transform: translate(calc(50vw - #{$space}));
	}

	to {
		transform: translate(0);
	}
}

@keyframes logoImg {
	from {
		transform: translate(-50%);
	}

	to {
		transform: translate(0);
	}
}

@keyframes navopen {
	from {
		transform: translate(calc(-50vw + #{$space}));
		opacity: 0;
	}

	to {
		transform: translate(0);
		opacity: 1;
	}
}

/*
	
	Homepage

*/

.Page--home {
	h1,
	h2,
	h3 {
		text-align: center;
	}

	.Section--main {
		padding-top: $space-xl;

		.Section-inner > h2 {
			margin-bottom: $space-lg;
		}
	}

	.Items--projects {
		margin-bottom: $space-xl;
	}

	.Section--header {
		min-height: 50vh;
	}

	@include bp(md, 'max') {
		.Nav-open {
			animation: navopen 1s;
			animation-delay: 1s;
			animation-fill-mode: backwards;
		}

		.Page-logo {
			animation: logoFadein 1s, logo 1s;
			animation-delay: 0s, 1s;
			animation-fill-mode: backwards, backwards;

			img {
				animation: logoImg 1s;
				animation-delay: 1s;
				animation-fill-mode: backwards;
			}
		}
	}

	@include bp(md) {
		.Items {
			margin-top: $space-xl;
			margin-bottom: $space-xl;
		}

		.Items--projects {
			margin-bottom: $space-xl * 2;
		}
	}
}

/*

	Work

*/

.Page--work {
	.Section--header {
		padding-bottom: $space-xl;
	}

	.Page-hero {
		margin-top: -($space-xxl);
	}

	.Page-content {
		max-width: map-get($widths, md);
		margin: 0 auto $space-xl;
	}

	@include bp(lg) {
		.Page-hero {
			width: 50%;
			float: left;
		}

		.Page-content {
			width: 50%;
			float: right;
			max-width: none;
			padding-left: $space-xl;
		}

		.Gallery {
			clear: both;
		}
	}
}
