.Page-logo {
	display: inline-block;
	position: relative;
	z-index: 11;
}

.Page-mast {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	margin-bottom: $space * 6;
}

.Page-content {
	max-width: map-get($widths, md);
	margin: $space 0 0;
	font-size: 1.125em;
}

.Page--home {
	h1 {
		text-align: center;
	}

	.Page-content {
		text-align: center;
		padding-top: $space * 4;
		margin: 0 auto;
	}

	.Section--intro .Page-content {
		text-align: center;
		max-width: none;
	}

	.Section--main {
		.Section-inner {
			padding: 0;
		}
	}
}
