.Page {
	height: 100vh;
}

.Page-logo {
	display: inline-block;
	position: relative;
	z-index: 11;
}

.Page-mast {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	margin-bottom: $space * 6;
}

.Page-hero {
	margin: 0 auto $space-xl;
	text-align: center;

	img {
		box-shadow: 0 15px 30px rgba($color-neutral-darker, 0.2);
	}
}

.Page-content {
	margin: $space 0 0;
	font-size: 1.125em;
}

.Page--home {
	h1 {
		text-align: center;
	}

	.Page-content {
		text-align: center;
		padding-top: $space * 4;
		margin: 0 auto;
	}

	.Section--intro .Page-content {
		text-align: center;
		max-width: none;
	}

	.Section--main {
		.Section-inner {
			padding: 0;
		}
	}
}

.Page--work {
	.Section--header {
		padding-bottom: $space-xl;
	}

	.Page-hero {
		margin-top: -($space-xl);
	}

	.Page-content {
		max-width: map-get($widths, md);
		margin: $space auto $space-xl;
	}
}
