.Section {
	clear: both;

	&-inner {
		padding: $space;
		max-width: width(xl);
		margin: 0 auto;
	}

	&--cleared {
		&:before,
		&:after {
			display: table;
			content: '';
			clear: both;
		}
	}
}

.Section--header {
	.Section-inner {
	}
}

.Section--main {
	border-top: 1px solid $color-neutral-lighter;
	border-bottom: 1px solid $color-neutral-lighter;
	background-color: $color-white;
	color: $color-neutral;
}

.Section--projects {
	margin-bottom: $space-xl;

	.Section-inner {
		max-width: none;
		padding-left: 4%;
		padding-right: 4%;
	}
}

.Section--resources {
	.Section-inner {
		max-width: none;
		padding-left: 4%;
		padding-right: 4%;
	}
}

.Section--footer {
	.Section-inner {
		display: flex;
		justify-content: space-between;
	}
}
