// Base settings
$base-font-size: 1rem;

// Font families
$font-primary: "Montserrat", sans-serif;
$font-secondary: sans-serif;

// Breakpoints
$widths: (
	sm: 20em,
	md: 36em,
	lg: 52em,
	xl: 68em
);

// Spacing
$space: $base-font-size * 1.5;
$space-xs: $space / 3;
$space-sm: $space / 2;
$space-md: $space * 1.5;
$space-lg: $space * 2;
$space-xl: $space * 3;

// Grid
$grid-columns: 8;
$grid-font-size: 1rem;
$grid-space: 1rem;

// Primary colors
$color-primary: #006FFF;
$color-primary-lighter: #46B9FF;
$color-primary-light: #0095FF;
$color-primary-dark: #0F5EC1;
$color-primary-darker: #1844A6;

// Secondary colors
$color-secondary: #01C4B3;
$color-secondary-lighter: lighten($color-secondary, 50%);
$color-secondary-light: lighten($color-secondary, 30%);
$color-secondary-dark: darken($color-secondary, 15%);
$color-secondary-darker: darken($color-secondary, 25%);

// Neutral colors
$color-neutral: #3F4347;
$color-white: #f7f7f7;
$color-neutral-lighter: #606870;
$color-neutral-light: #53595E;
$color-neutral-dark: #2D2F31;
$color-neutral-darker: #212224;
$color-black: #191919;

// Message colors
$color-message-info: #00a8f7;
$color-message-success: #47b04a;
$color-message-warning: #f5a800;
$color-message-error: #f6412d;
